/* === COLORS === */
/* === TYPOGRAPHY === */
/* Font Families */
body, nav a, footer h1 {
  font-weight: 300;
  font-family: gibbs, sans-serif; }

h1 {
  font-weight: 400;
  font-family: boucherie-cursive, sans-serif; }

body {
  font-size: 1.6rem;
  color: #342E37; }
  @media (min-width: 992px) {
    body {
      font-size: 1.8rem; } }

h1 {
  font-size: 3.6rem; }
  @media (min-width: 992px) {
    h1 {
      font-size: 6.8rem; } }

h2 {
  font-weight: bold; }

a {
  color: #738F33; }

a:hover {
  color: #E8C547;
  text-decoration: none; }

nav a {
  text-transform: uppercase;
  color: #464149; }
  @media (min-width: 992px) {
    nav a {
      font-size: 2.0rem; } }

footer {
  color: #FFF; }
  footer h1 {
    font-size: 2.4rem;
    font-weight: bold; }
    @media (min-width: 992px) {
      footer h1 {
        font-size: 3.2rem; } }

span {
  font-size: 1.4rem; }

.active {
  color: #738F33; }

.warning {
  color: #AC3931; }

#content img {
  max-width: 100%;
  border: 1px solid #342E37;
  margin-top: 10px; }

span {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  margin-left: 15px; }

.img-wrap {
  position: relative;
  padding: 0; }

.img-wrap:hover span {
  opacity: 1; }

html {
  font-size: 62.5%; }

body {
  background-color: #ECEDEA;
  position: relative; }

#content {
  padding: 0; }
  #content h1 {
    margin-bottom: 30px; }
  #content h2 {
    margin-top: 30px;
    margin-bottom: 10px; }

#content > section, footer {
  padding: 50px 15px;
  margin: auto 0 auto 0; }

#content > section:nth-child(2n) {
  background-color: #D7D8D5; }

.container {
  margin-left: 0;
  margin-right: 0; }

.row {
  margin: 0; }

header {
  position: inherit;
  background-image: url("../images/lawn_mouse.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh; }
  header div {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw; }
  header img {
    width: 340px;
    display: block;
    margin: 50px auto; }
    @media (min-width: 992px) {
      header img {
        width: 700px;
        margin: 75px auto; } }
    @media (min-width: 1600px) {
      header img {
        width: 1000px;
        margin: 100px auto; } }

nav {
  background-color: #FFF;
  margin: 0 auto 5px auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; }
  nav ul {
    list-style-type: none;
    padding-left: 0;
    width: 100vw; }
    @media (min-width: 768px) {
      nav ul {
        overflow: hidden;
        padding-left: 20px; }
        nav ul li:nth-child(7) {
          border: none; } }
    nav ul li {
      text-align: center;
      border-bottom: 1px solid #464149;
      padding: 5px 0; }
      @media (min-width: 768px) {
        nav ul li {
          float: left;
          border-bottom: none;
          border-right: 1px solid #464149;
          padding: 10px 10px; } }
      @media (min-width: 992px) {
        nav ul li {
          padding: 10px 15px; } }
    nav ul .closed {
      display: none; }
      @media (min-width: 768px) {
        nav ul .closed {
          display: block; } }
    nav ul li:last-child {
      border: none;
      font-size: 3.0rem;
      display: block; }
      @media (min-width: 768px) {
        nav ul li:last-child {
          display: none; } }

#cost table {
  background-color: #FFF;
  width: 100%;
  border: 1px solid #342E37; }
  #cost table tr {
    border: 1px solid #D7D8D5; }
    #cost table tr strong {
      font-weight: bold; }
  #cost table th, #cost table td {
    padding: 5px; }

footer {
  background-color: #342E37; }
