/*** DEFAULTS ***/
/* Defaults are true for general elements of the entire page. */

html{
  font-size: 62.5%;
}

body{
  background-color: $background;
  position: relative;
}

#content{
  padding: 0;

  h1{
    margin: auto auto $spacing-md auto;
  }

  h2{
    margin: $spacing-md auto $spacing-xs auto;
  }

  div {
    padding: 0;
  }
}

#content > section, footer {
  padding: $spacing-lg $spacing-sm;
  margin: auto 0;
  @include break(medium){
    padding: $spacing-lg $spacing-md;
  }
  @include break(large){
    padding: $spacing-lg $spacing-lg;
  }
}

#content > section:nth-child(2n){
  background-color: $background-dark;
}

.container {
  margin: auto 0;
}

.row {
  margin: 0;
}
