/* === TYPOGRAPHY === */
/* Font Families */
%font-family-body{
  font-weight: 300;
  font-family: gibbs, sans-serif;
}

%font-family-primary{
  font-weight: 400;
  font-family: boucherie-cursive, sans-serif;
}

%font-family-secondary{
  font-weight: 200;
  font-family: gibbs, sans-serif;
  text-transform: uppercase;
}
