/* ===== COMPONENTS ===== */

/* === Typography === */
/* Font Families */
%font-family-body{
  font-weight: 300;
  font-family: gibbs, sans-serif;
}

%font-family-primary{
  font-weight: 400;
  font-family: boucherie-cursive, sans-serif;
}
