/* === COLORS === */
$light:           #FFF;
$medium:          #464149;
$dark:            #342E37;

$background:      #ECEDEA;
$background-dark: #D7D8D5;

$primary:         #738F33;
$primary-light:   #D4E09B;

$secondary:       #E8C547;

$warning:         #AC3931;

/* === SPACING SIZES === */
$spacing-xs: 10px;
$spacing-sm: 15px;
$spacing-md: 30px;
$spacing-lg: 50px;

$spacing-sm-split: 7px;
